@font-face {
  font-family: 'Inter';
  src: url("../fonts/inter.ttf") format('truetype');
}

@font-face {
  font-family: 'Menlo';
  src: url("../fonts/menlo.ttc") format('truetype');
}

@font-face {
  font-family: 'Sacramento';
  src: url("http://josephineevans.org/fonts/sacramento.ttf") format('truetype');
}

body {
  font-family: 'inter', sans-serif; /* Use Inter for the body */
  background-color: #DCDBD6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Navigation Bar Styling */
#nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navigation bar is above other content */
}

p {
  line-height: 35px;
  font-size: 1.5em;
}

h1, h2, h3 {
  font-family: 'Menlo', monospace; /* Use Menlo for headings */
  text-transform: Uppercase;

}

a{
  text-decoration: none;
  color: inherit;
}

.sacramento-font {
  font-family: 'Sacramento', cursive;
}

